@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.siteBtn {
  @apply bg-primary px-9 py-2.5 flex items-center justify-center font-semibold text-base leading-6 h-btnHeight rounded-md;
}

.numberWrapper .number {
  @apply rounded-full bg-stepsColor w-9 h-9 flex items-center justify-center font-semibold text-xl;
}

.testimonialBlock {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff715b),
    to(#5132c0)
  );
  background-image: linear-gradient(90deg, #ff715b, #5132c0);
}

.testimonialBlock .slick-dots li.slick-active button:before,
.testimonialBlock .slick-dots li button:before {
  color: #fff;
}

.slick-dotted.slick-slider {
  margin: 0;
}
.slick-dots {
  bottom: -16%;
}

.testimonialBlock .slick-dots li.slick-active button:before {
  font-size: 17px;
}

.testimonialBlock .slick-dots li button:before {
  font-size: 15px;
}

.clientsLogo {
  @apply flex flex-wrap items-center justify-between;
}

.clientsImage {
  @apply opacity-50 mx-3 my-6;
}

.featureBlockWrap {
  @apply h-full rounded-twelve flex flex-col justify-center;
}

.featureBlock .iconWrap {
  @apply mb-6 w-24 h-24 rounded-full mx-auto flex items-center justify-center;
}

.featureBlock .content h3 {
  @apply text-white font-semibold mb-4;
}

.featureBlock .content p {
  @apply text-textColor font-medium;
}

.slick-next:before,
.slick-prev:before {
  content: "";
}

.arrowsSlider {
  @apply block float-none left-auto right-0;
}

.arrowsSlider span {
  @apply block rounded-full bg-white  flex items-center justify-center absolute;
  bottom: 4.55%;
}

.prevFeature {
  right: 15%;
}

.nextFeature {
  right: 7%;
}

.blogBlock {
  @apply rounded-twelve overflow-hidden bg-bgColorTwo  flex flex-col;
}

.blogBlock .content {
  @apply p-6 text-white flex flex-col justify-between items-stretch;
  flex: 1 0 auto;
}

.blogBlock .content h3 {
  @apply mb-4 font-semibold tracking-minusTwo;
}

.blogBlock .content .blogFooter {
  @apply flex justify-between items-center font-semibold;
}

.blogBlock .content .categoryWrap .category {
  @apply rounded-full px-3;
}

@media screen and (max-width: 991px) {
  .prevFeature {
    right: 18%;
  }
  .slick-dots {
    bottom: -2%;
  }
  .testimonialBlock .slick-dots li.slick-active button:before {
    font-size: 12px;
  }

  .testimonialBlock .slick-dots li button:before {
    font-size: 9px;
  }
}
